
<span *ngIf="service.ratings == 1">
  <i class="icon-star"></i>
  <i class="icon-star-o"></i>
  <i class="icon-star-o"></i>
  <i class="icon-star-o"></i>
  <i class="icon-star-o"></i>
</span>
<span *ngIf="service.ratings == 1.5">
  <i class="icon-star"></i>
  <i class="icon-star-half-empty"></i>
  <i class="icon-star-o"></i>
  <i class="icon-star-o"></i>
  <i class="icon-star-o"></i>
</span>
<span *ngIf="service.ratings == 2">
  <i class="icon-star"></i>
  <i class="icon-star"></i>
  <i class="icon-star-o"></i>
  <i class="icon-star-o"></i>
  <i class="icon-star-o"></i>
</span>
<span *ngIf="service.ratings == 2.5">
  <i class="icon-star"></i>
  <i class="icon-star"></i>
  <i class="icon-star-half-empty"></i>
  <i class="icon-star-o"></i>
  <i class="icon-star-o"></i>
</span>
<span *ngIf="service.ratings == 3">
  <i class="icon-star"></i>
  <i class="icon-star"></i>
  <i class="icon-star"></i>
  <i class="icon-star-o"></i>
  <i class="icon-star-o"></i>
</span>
<span *ngIf="service.ratings == 3.5">
  <i class="icon-star"></i>
  <i class="icon-star"></i>
  <i class="icon-star"></i>
  <i class="icon-star-half-empty"></i>
  <i class="icon-star-o"></i>
</span>
<span *ngIf="service.ratings == 4">
  <i class="icon-star"></i>
  <i class="icon-star"></i>
  <i class="icon-star"></i>
  <i class="icon-star"></i>
  <i class="icon-star-o"></i>
</span>
<span *ngIf="service.ratings == 4.5">
  <i class="icon-star"></i>
  <i class="icon-star"></i>
  <i class="icon-star"></i>
  <i class="icon-star"></i>
  <i class="icon-star-half-empty"></i>
</span>
<span *ngIf="service.ratings == 5">
  <i class="icon-star"></i>
  <i class="icon-star"></i>
  <i class="icon-star"></i>
  <i class="icon-star"></i>
  <i class="icon-star"></i>
</span>
