<!-- =======Footer copyrights information start =========-->
            <footer>
                <div class="container-fluid">
                  <div class="credits row">
                    <div class="col-md-6">&copy; 2017 A+ Skill. All rights reserved</div>
                    <div class="col-md-6"><a href="#">Terms &amp; conditions</a><a href="#">Privacy policy</a>
                    </div>
                  </div>
                </div>
            </footer>
<!-- =======Footer copyrights information end =========-->

