<div class="wrapper">
     <section class="user-dashboard">
        <div class="row">
            <!-- =======Top fixed nav bar start =========-->
            <app-navbar-with-bg></app-navbar-with-bg>
            <!-- =======Top fixed nav bar end =========-->

            <!-- =======Main page content all sections (upper & lower section) start =========-->
            <!-- =======Upper section start =========-->
            <div class="row ">
                <div class="upper-info">
                    <!-- =======left section =========-->
                    <div class="prof-profile-pic col-lg-4">
                        <div class="prof-name com-heading">Jim & Sons Landscaping</div>
                        <div class="prof-stats com-subheading">20 - Friends, 280 - Reviews</div>
                        <span class="rating">
                          <span class="rating">
                            <i class="icon-star"></i>
                            <i class="icon-star"></i>
                            <i class="icon-star"></i>
                            <i class="icon-star-half-empty"></i>
                            <i class="icon-star-o"></i>
                          </span>
                        </span>
                        <div class="map-box">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15955.237201281458!2d36.8230421!3d-1.2886059!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5846aa44b544448a!2sKenyatta+International+Convention+Centre+TSAVO!5e0!3m2!1sen!2s!4v1504555110457" width="371" height="213" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                    <!-- =======right section =========-->
                    <div class="col-lg-8 prof-personal-info">
                        <div class="row">
                            <div class="prof-location com-subheading pull-right">Nairobi, Kenya</div>
                        </div>
                        <div class="row" style="margin-bottom: 56px;">
                            <div class="btn-round-white pull-right no-background com-top-share-btn" ><i class="icon-share3 prof-icon-mid-size "></i>Share</div>
                            <div class="btn-filled-white pull-right" >Write a review</div>
                        </div>
                        <div class="row">
                            <div class="com-pics">
                                <div class="com-pic1">
                                   <img src="assets/img/img2.jpg" />
                                   <div class="com-num-pics"><span>30</span><br>Photos</div>
                                </div>
                                <div class="com-pic2">
                                    <img src="assets/img/img1.jpg"/>
                                </div>
                                <div class="com-pic3">
                                    <img src="assets/img/login-bg.jpg"/>
                                </div>
                                 <br style="clear: left;" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- =======Upper section end =========-->
            <!-- =======Lower section start =========-->
            <div class="row ">
                    <div class="lower-info com-lower-sec">
                        <!-- =======left section =========-->
                        <div class="col-lg-9" style=" border-right: solid 1px #F3EFEC;">
                            <!-- =======left upper section =========-->
                            <div class="prof-mid-column com-mid-column">
                                <div class="row">
                                    <div class="com-prod-area">
                                        <div class="com-prod-box col-lg-6">
                                            <img src="assets/img/woodwork.jpg"/>
                                            <div class="com-prod-info">
                                                <div class="com-prod-header">Full house cabinet building</div>
                                                <span class="rating">
                                                  <span class="rating">
                                                    <i class="icon-star"></i>
                                                    <i class="icon-star"></i>
                                                    <i class="icon-star"></i>
                                                    <i class="icon-star-half-empty"></i>
                                                    <i class="icon-star-o"></i>
                                                  </span>
                                                </span>
                                                <div class="com-prd-desc">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                    Mauris turpis tortor, sodales eu tellus sit amet, sagittis laoreet orci.
                                                    Pellentesque vestibulum dolor lacus.
                                                </div>
                                                <div class="com-prd-price">
                                                    KSH - 20, 000
                                                </div>
                                                <div class="com-prod-stats">
                                                    <div class="pull-left">20 Reviews</div>
                                                    <div class="pull-right">Jun 20th 2017</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="com-prod-box col-lg-6">
                                            <img src="assets/img/woodwork.jpg"/>
                                            <div class="com-prod-info">
                                                <div class="com-prod-header">Full house cabinet building</div>
                                                <span class="rating">
                                                  <span class="rating">
                                                    <i class="icon-star"></i>
                                                    <i class="icon-star"></i>
                                                    <i class="icon-star"></i>
                                                    <i class="icon-star-half-empty"></i>
                                                    <i class="icon-star-o"></i>
                                                  </span>
                                                </span>
                                                <div class="com-prd-desc">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                    Mauris turpis tortor, sodales eu tellus sit amet, sagittis laoreet orci.
                                                    Pellentesque vestibulum dolor lacus.
                                                </div>
                                                <div class="com-prd-price">
                                                    KSH - 20, 000
                                                </div>
                                                <div class="com-prod-stats">
                                                    <div class="pull-left">20 Reviews</div>
                                                    <div class="pull-right">Jun 20th 2017</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="com-mid-ads-area">
                                        <div class="col-lg-6" style="padding: 0px">
                                           <div class="suggested-pros no-background">
                                                <div class="pro-row">
                                                    <span>
                                                        <div class="profile">
                                                          <img class="img-circle" src="assets/img/avatar-11.jpg">
                                                        </div>
                                                    </span>
                                                    <div class="user">
                                                        <div class="ad-content-top">
                                                          <div class="ad-name">
                                                              Joseph Murimi
                                                              <span class="ad-badge">AD</span>
                                                          </div>
                                                          <span class="rating">
                                                              <span class="rating">
                                                                <i class="icon-star"></i>
                                                                <i class="icon-star"></i>
                                                                <i class="icon-star"></i>
                                                                <i class="icon-star-half-empty"></i>
                                                                <i class="icon-star-o"></i>
                                                              </span>
                                                          </span>
                                                          <span style="font-size: 12px;">203 reviews</span>
                                                          <span class="ad-info-icon pull-right icon-info_outline"></span>
                                                        </div>

                                                        <div class="ad-description com-ad-desc">
                                                          sit amet, consectetur adipiscing elit. Curabitur luctus diam lorem,
                                                          vel condimentum risus finibus vel...
                                                        </div>
                                                        <span class="read-more com-ad-desc">Read More</span>
                                                    </div>

                                                </div>
                                           </div>
                                        </div>
                                        <div class="col-lg-6" style="padding: 0px">
                                           <div class="suggested-pros no-background">
                                                <div class="pro-row">
                                                    <span>
                                                        <div class="profile">
                                                          <img class="img-circle" src="assets/img/avatar-11.jpg">
                                                        </div>
                                                    </span>
                                                    <div class="user">
                                                        <div class="ad-content-top">
                                                          <div class="ad-name">
                                                              Joseph Murimi
                                                              <span class="ad-badge">AD</span>
                                                          </div>
                                                          <span class="rating">
                                                              <span class="rating">
                                                                <i class="icon-star"></i>
                                                                <i class="icon-star"></i>
                                                                <i class="icon-star"></i>
                                                                <i class="icon-star-half-empty"></i>
                                                                <i class="icon-star-o"></i>
                                                              </span>
                                                          </span>
                                                          <span style="font-size: 12px;">203 reviews</span>
                                                          <span class="ad-info-icon pull-right icon-info_outline"></span>
                                                        </div>

                                                        <div class="ad-description com-ad-desc">
                                                          sit amet, consectetur adipiscing elit. Curabitur luctus diam lorem,
                                                          vel condimentum risus finibus vel...
                                                        </div>
                                                        <span class="read-more com-ad-desc">Read More</span>
                                                    </div>

                                                </div>
                                           </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- =======left lower section =========-->
                            <div class="prof-mid-column com-mid-column">
                                <div class="row prof-mid-column-header">
                                    <div class="col-lg-6">
                                        <div class="prof-column-heading">
                                            Reviews
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <span class="btn-filled pull-right" >Sort by</span>
                                    </div>
                                </div>
                                <hr class="prop-column-heading-ul col-lg-11" style="margin-left: 35px">
                                <div class="prof-mid-column-content">
                                    <div class="prof-review">
                                        <div class="user">
                                            <div class="row prof-rev-content-top">
                                              <div class="col-lg-3" style="padding: 0px; width: 95px">
                                                <img class="img-circle large-prof-pic" src="assets/img/avatar-11.jpg">
                                              </div>
                                              <div class="col-lg-9" style="padding: 0px;">
                                                  <div class="ad-name large-name">
                                                      Joseph Murimi Obado
                                                  </div>
                                                  <div style="color: #1c9aea">
                                                      Maintain lawns, Perimeter gardening
                                                  </div>
                                                  <div style="font-size: 12px;">Naivasha, Jun 30, 17</div>
                                                  <span class="rating">
                                                      <span class="rating">
                                                        <i class="icon-star"></i>
                                                        <i class="icon-star"></i>
                                                        <i class="icon-star"></i>
                                                        <i class="icon-star-half-empty"></i>
                                                        <i class="icon-star-o"></i>
                                                      </span>
                                                  </span>
                                              </div>
                                            </div>
                                            <div class="row prof-review-desc">
                                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu hendrerit urna.
                                                In sed lobortis massa. Donec quis urna gravida, congue turpis eu, blandit nisi.
                                                Praesent porta nec nulla a porta. Mauris dapibus mi id malesuada condimentum.
                                                Nullam at placerat tortor. Nunc hendrerit leo elit, fermentum iaculis urna convallis eu.
                                                Ut ultrices ligula sit amet est blandit, sed tincidunt sapien viverra.
                                                Proin sit amet dolor tempus, consectetur leo sit amet, euismod dolor.
                                            </div>
                                            <div class="prof-prev-pic">
                                                <img src="assets/img/review_pic.jpg" height="196" width="532"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6"></div>
                                    <div class="col-lg-6">
                                        <div class="prof-interact-icons pull-right" style="color: #1c9aea"><i class="icon-share3 prof-icon-mid-size"></i> SHARE</div>
                                    </div>
                                </div>
                                <hr class="prop-column-heading-ul col-lg-11" style="margin-left: 35px; margin-top: 25px">
                            </div>
                        </div>
                        <!-- =======right section =========-->
                        <div class="col-lg-3" >
                            <div class="prof-right-column">
                                <div class="prof-column-heading">
                                    More Business Info
                                </div>
                                <hr class="prop-column-heading-ul col-lg-10">
                                <div class="prof-right-column-content">
                                    <div class="prof-about-content">
                                        <div class="com-biz-info">
                                            <div class="row com-biz-time">
                                                <span class="col-lg-3 day">Mon</span>
                                                <span class="col-lg-9 time">8.30 am - 9 pm</span>
                                            </div>
                                            <div class="row com-biz-time">
                                                <span class="col-lg-3 day">Tue</span>
                                                <span class="col-lg-9 time">8.30 am - 9 pm</span>
                                            </div>
                                            <div class="row com-biz-time">
                                                <span class="col-lg-3 day">Wed</span>
                                                <span class="col-lg-9 time">8.30 am - 9 pm</span>
                                            </div>
                                            <div class="row com-biz-time">
                                                <span class="col-lg-3 day">Thur</span>
                                                <span class="col-lg-9 time">8.30 am - 9 pm</span>
                                            </div>
                                            <div class="row com-biz-time">
                                                <span class="col-lg-3 day">Fri</span>
                                                <span class="col-lg-9 time">8.30 am - 9 pm</span>
                                            </div>
                                            <div class="row com-biz-time">
                                                <span class="col-lg-3 day">Sat</span>
                                                <span class="col-lg-9 time">8.30 am - 9 pm</span>
                                            </div>
                                            <div class="row com-biz-time">
                                                <span class="col-lg-3 day">Sun</span>
                                                <span class="col-lg-9 time">Closed</span>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="prop-column-heading-ul col-lg-10" style="margin-top: 30px">
                                    <div class="pro-about-info">
                                        <div class="heading">Location</div>
                                        <div>Nairobi, Kenya</div>

                                        <div class="heading">Member Since</div>
                                        <div>June 20th, 2008</div>

                                        <div class="heading">Website</div>
                                        <div>www.test.co.ke</div>

                                        <div class="ad-titles">You might consider...</div>
                                        <app-lowerright-sidebar-ads></app-lowerright-sidebar-ads>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
            </div>
            <!-- =======Lower section end =========-->
            <!-- =======Main page content all sections (upper & lower section) start =========-->

            <!-- =======Footer copyrights information start =========-->
           <app-footer></app-footer>
            <!-- =======Footer copyrights information end =========-->
        </div>
    </section>

 </div>
