<app-navbar-no-bg-fixed></app-navbar-no-bg-fixed>

<div class="container">
   <!-- =======Main content information start =========-->
  <div class="row" *ngFor="let info of service">
    <!-- =======Left content section start =========-->
    <div class="col-lg-9">
      <!-- =======Service info box section start =========-->
      <div class="service-box">
        <div class="service-image">
          <img src="{{info.servicepic}}"/>
        </div>

        <div class="service-info">
          <div class="row bottom-border">
            <div class="col-lg-6 service-heading align-left">
             {{info.title}}
            </div>
            <div class="col-lg-6 service-heading align-right no-right-padding">
              <div>Total Coast - <span style="color: #ffa800">{{info.cost | currency:'Ksh'}}</span></div>
              <div class="views-count">{{(info.review_num > 1) ? (info.review_num) + ' Views' : (info.review_num) + ' View'}}</div>
            </div>
          </div>
          <div class="row" style="margin-top: 20px">
            <div class="col-lg-6 service-heading align-left right-border no-left-padding">
              <div class="col-lg-6 no-left-padding" [routerLink]="['/company/'+ info.cid]">
                <img class="img-circle" src="{{info.thumbnailUrl}}"/>
              </div>
              <div class="col-lg-6 name-loc" [routerLink]="['/company/'+ info.cid]">
                <div class="smaller1 blue pointer">{{info.name}}</div>
                <div class="smaller2">{{info.location}}</div>
              </div>
            </div>
            <div class="col-lg-6 service-heading align-right no-right-padding">
              <div class="smaller3">Overall Rating</div>
                <span class="rating smaller1">
                  <app-rating-stars-icons [service]=info></app-rating-stars-icons>
                </span>
              <span class="smaller1">( of {{(info.reviews.length > 1) ? (info.reviews.length) + ' People' : (info.reviews.length) + ' Person'}} )</span>
            </div>
          </div>
        </div>
      </div>
      <!-- =======Service info box section end =========-->

      <!-- =======Details info box section start =========-->
      <div class="service-box">
        <div class="row bottom-border">
          <div class="col-lg-6 tab right-border"  (click)="showOffer()" [class.activeTab]="offer === false">SERVICE DETAILS</div>
          <div class="col-lg-6 tab" (click)="showReviews()" [class.activeTab]="review === false">REVIEWS</div>
        </div>
        <div class="row">
          <div class="col-lg-12 offer-details tab-content large-padding" [hidden]="offer">
            {{ (info.desc.length > textTrim) ? (info.desc | slice:0:textTrim) + '...' : (info.desc) }}
          </div>
          <div class="col-lg-12 reviews-details tab-content small-padding" [hidden]="review" *ngFor="let rev of info.reviews | paginate: { id: 'Rev_id', itemsPerPage: itemsOnPage, currentPage: pageNum }">
            <div class="row">
              <div class="col-lg-2 no-right-padding reviewthumb ">
                <img class="img-circle" src="{{rev.thumbnailUrl}}">
              </div>
              <div class="col-lg-10 no-left-padding">
                <div class="smaller1 blue">{{rev.title}}</div>
                <div class="smaller2 blue">{{rev.name}}</div>
                <span class="smaller2 dark-grey">{{rev.location}}, {{rev.date}}</span>
                <div class="rating smaller1">
                  <app-rating-stars-icons [service]=rev></app-rating-stars-icons>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="smaller2 dark-grey">
                {{ (rev.body.length > textTrim) ? (rev.body | slice:0:textTrim) + '...' : (rev.body) }}
              </div>
            </div>
            <div align="center" class="small-padding smaller2">
              <pagination-controls
                  id="Rev_id"
                  (pageChange)="pageChanged($event)"
                  maxSize="9"
                  directionLinks="false"
                  autoHide="true"
                  previousLabel=""
                  nextLabel=""
                  screenReaderPaginationLabel="Pagination"
                  screenReaderPageLabel="page"
                  screenReaderCurrentLabel="You're on page">
              </pagination-controls>
             </div>
          </div>
        </div>

      </div>
      <!-- =======Details info box section end =========-->
    </div>
    <!-- =======Left content section end =========-->

    <!-- =======Right content section start =========-->
    <div class="col-lg-3">
      <!-- =======Advertisment right side bar start =========-->
          <div class="ad-aside-bar">
              <span class="btn-filled col-lg-12" style="margin-bottom: 20px;" >Advertise Here</span>
              <div class="ad-top-pic">
                  <app-large-imagead></app-large-imagead>
              </div>
              <div class="ad-titles">You might consider...</div>

              <div class="hr-top-line"></div>
              <app-ads></app-ads>

              <div class="ad-titles">Related Services...</div>

              <div class="hr-top-line"></div>
              <app-related-service></app-related-service>
          </div>
      <!-- =======Advertisment right side bar end =========-->
    </div>
    <!-- =======Right content section end =========-->

  </div>
  <!-- =======Main content information end =========-->

 <!-- =======Footer copyrights information start =========-->
  <div class="row">
    <app-footer-second></app-footer-second>
  </div>
  <!-- =======Footer copyrights information end =========-->
</div>



