<!-- =======Top fixed nav bar start =========-->
   <div class="row">
                <ul class="nav-user navbar-right">
                    <!-- =======Logo Aplus start =========-->
                    <div class=" col-lg-3 pull-left">
                        <div class="logo">
                            <app-navbar-logo></app-navbar-logo>
                        </div>
                    </div>
                    <!-- =======Logo Aplus end =========-->
                    <!-- =======Search input nav bar start =========-->
                    <div class="col-lg-6">
                        <app-navbar-search (searchPhrase)="searchPhrase($event)"></app-navbar-search>
                    </div>
                    <!-- =======Search input nav bar end =========-->
                    <!-- =======Profile nav bar start =========-->
                    <div class="col-lg-3 pull-right">
                        <app-navbar-profile></app-navbar-profile>
                    </div>
                    <!-- =======Profile nav bar bar end =========-->
                </ul>
            </div>
<!-- =======Top fixed nav bar end =========-->
