<!-- =======Top fixed nav bar start =========-->
   <div class="row">
                <ul class="nav-user navbar-right">
                    <!-- =======Logo Aplus start =========-->
                    <div class=" col-lg-3 pull-left">
                        <div class="logo">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 589.189 99.525" enable-background="new 0 0 589.189 99.525"
                             xml:space="preserve">
                        <g id="SvgjsUse1034">
                            <path fill="#3E96D2" d="M35.082,66.433l-8.208,16.424L18.41,99.525H0L49.763,0l33.214,66.433H64.319L49.763,37.197L35.082,66.433
                                L35.082,66.433z M91.19,82.979l8.335,16.546H80.987l-8.211-16.546l0,0H91.19z M105.623,41.428h41.428V58.1h-41.428V41.428z
                                 M163.721,41.428h41.427V58.1h-41.427V41.428z M147.05,99.525V58.1h16.671v41.426H147.05z M163.721,0v41.428H147.05V0H163.721z
                                 M294.965,58.1h-24.756c-8.084,0-14.929-2.862-20.528-8.462c-5.595-5.722-8.455-12.563-8.455-20.65
                                c0-7.963,2.859-14.681,8.455-20.405C255.281,2.861,262.125,0,270.209,0v16.671c-1.738,0-3.358,0.248-4.854,0.87
                                c-1.614,0.622-2.859,1.494-4.103,2.738c-1.121,1.119-1.988,2.487-2.613,3.98c-0.619,1.494-0.869,3.111-0.869,4.729
                                c0,3.481,1.117,6.343,3.482,8.833c2.489,2.488,5.349,3.731,8.957,3.731h24.756c8.089,0,14.933,2.862,20.528,8.46
                                c5.723,5.723,8.586,12.565,8.586,20.526c0,7.963-2.863,14.805-8.586,20.527c-5.596,5.599-12.439,8.46-20.528,8.46V82.856
                                c1.747,0,3.362-0.25,4.854-0.872c1.615-0.624,2.982-1.492,4.104-2.612c1.12-1.12,1.994-2.365,2.611-3.979
                                c0.626-1.495,0.998-3.111,0.998-4.854c0-3.359-1.368-6.221-3.733-8.708C301.311,59.343,298.452,58.1,294.965,58.1z M348.091,56.73
                                l43.046,42.795L348.091,56.73z M391.137,0l-43.046,42.921l0,0L391.137,0z M414.523,0l-49.767,49.763l49.767,49.763h-23.386
                                L348.091,56.73l0,0l-6.97-6.844l6.97-6.966l0,0L391.137,0H414.523z M445.377,16.422v66.435l-16.547,16.669l0,0V0L445.377,16.422z
                                 M462.791,82.856h49.767v16.669h-66.311L462.791,82.856z M446.247,0h16.544v2.736v57.601l-16.544,16.67V2.736V0z M539.426,82.856
                                h49.763v16.669h-66.307L539.426,82.856z M522.882,0h16.544v2.736v57.601l-16.544,16.67V2.736V0z"/>
                        </g>
                        </svg>
                        </div>
                    </div>
                    <!-- =======Logo Aplus end =========-->
                    <!-- =======Search input nav bar start =========-->
                    <div class="col-lg-6">
                        <div class="input-group">
                          <span class="input-group-addon" id="basic-addon3">Services</span>
                          <input type="text" class="form-control normal-border-radius remove-right-border" id="basic-url" placeholder="Plumber in Nairobi">
                          <i class="icon-search input-group-addon"></i>
                        </div>
                    </div>
                    <!-- =======Search input nav bar end =========-->
                    <!-- =======Profile nav bar start =========-->
                    <div class="col-lg-3 pull-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span><i class="icon-notifications_active"></i></span></a>
                        </li>
                        <li class="dropdown">
                          <a href="" class="dropdown-toggle logged_in_user" data-toggle="dropdown">
                          <img src="/img/avatar-1.jpg" class="avatar img-circle" alt="Avatar">
                           <strong>Caleb Nasio</strong>
                          </a>
                          <ul class="dropdown-menu square primary margin-list-rounded with-triangle"><li class="nav-item"><a class="nav-link" href="/user-profile/view?id=63574202">My Account</a></li>
                            <li><a class="dropdown-item" href="/site/logout" data-method="post"><span>Sign out</span></a></li>
                          </ul>
                        </li>
                    </div>
                    <!-- =======Profile nav bar bar end =========-->
                </ul>
            </div>
<!-- =======Top fixed nav bar end =========-->
