.modalBox {
  background-color: white;
  border-radius: 2px;
  border: 1px solid #ddd;
  height: 500px;
  width: 600px;
  position: absolute;
  top: 25%;
  -webkit-box-shadow: 1px 0px 111px -1px rgba(0,0,0,0.43);
  -moz-box-shadow: 1px 0px 111px -1px rgba(0,0,0,0.43);
  box-shadow: 1px 0px 111px -1px rgba(0,0,0,0.43);
  z-index: 1;
}

.modalCloseIcon {
  font-size: 25px;
  margin-top: 15px;
  margin-right: 18px;
  cursor: pointer;
  float: right;
}

.modalHeader {
  color: #319dea;
}

hr {
    margin-top: 30px;
    margin-bottom: 0px;
}

/* Style the tab */
div.tab {
    overflow: hidden;
    background-color: #F6FAFD;
}

.icons {
  margin-right: 7px;
  font-size: 16px;
}

/* Style the buttons inside the tab */
.headingTab {
  border-bottom: 1px solid #DEF0FC;
  cursor: default !important;
  color: #319dea;
  font-weight: bolder;
  font-size: 17px;
}

.headingTab:hover {
  border-bottom: 1px solid #DEF0FC;
  background-color: #F6FAFD !important;
}

div.tab button {
    background-color: inherit;
    float: left;
    width: 150px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    border-bottom: 1px solid #DEF0FC;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #fff;
    color: #319dea;
}

/* Create an active/current tablink class */
.tabActive {
    background-color: #fff !important;
    color: #319dea;
    width: 200px;
}

.tabInctive {
    background-color: #f1f1f1;
}

/* Style the tab content */
.tabcontent {
    padding: 6px 12px;
    /*border: 1px solid #ccc;*/
    border-top: none;
    min-height: 425px;
    overflow-y: auto;
}

.imageSelectBox {
  overflow-y: auto;
  height: 350px;
  /*border: solid 1px;*/
  position: relative;
  padding: 0px 15px;
  bottom: 25px;
}

.imageSelect {
  margin-bottom: 5px;
  padding: 0px 5px 0px 5px;
  width: 96px;
  height: 96px;
  overflow: hidden;
}

.imageSelect img {
  width: 100%;
  cursor: pointer;
  position: relative;
  bottom: 96px;
}

.imageFileName {
  width: 65px;
  color: #777777;
  cursor: pointer;
  text-align: center;
  margin-top: 3px;
}

.mask {
  background: rgb(49, 157, 234);
  z-index: 1;
  opacity: 0;
  position: relative;
  cursor: pointer;
  height: 96px;
  overflow: hidden;
}

.selected {
  opacity: .4;
}

img.selected {
  width: 100%;
}

.uploadArea {
  position: relative;
  top: 110px;
}

.uploadModal-left {
  background-color: #F6FAFD ;
  height: 498px;
  padding: 10px 0px 0px 0px;
  border-right: 1px solid #DEF0FC;
}

img.imageUploadIcon {
  width: 10%;
}

.imagePreview {
    /*border: solid 1px;*/
    padding: 5px 5px;
    position: relative;
    bottom: 20px;
    height: 60px;
    width: 100%;
    /*overflow: hidden;*/
}

.thumb {
    height: 50px;
    width: 50px;
    border: solid 2px #319dea;
    overflow: hidden;
    padding: 0px;
    margin-right: 3px;
}

.hideThumb {
  width: 170px;
  /*border: solid 1px;*/
  height: 50px;
  overflow: hidden;
}

.more {
    position: relative;
    float: right;
    bottom: 40px;
    right: 45px;
}

img.thumb {
    width: 100%;
}
