<div class="modalBox">
  <span class="modalCloseIcon" (click)="closeModal()">
      <i class="icon-close"></i>
    </span>
  <div align="center" class="modalHeader"><h3>Media library</h3></div>
  <hr>

  <div class="tab">
    <button class="tablinks" (click)="showUploadTab()" [className]="active" >Upload picture</button>
    <button class="tablinks" (click)="showSelectTab()" [className]="active2" >Select picture</button>
  </div>

  <div [hidden]="showUpTab" class="tabcontent">
    <h4>Upload Images</h4>

    <image-upload
      [max]="100"
      [url]="uploadURL"
      [buttonCaption]="'Select Images!'"
      [headers]="[
        {header: 'Authorization', value: 'MyToken'}
      ]"
      [dropBoxMessage]="'Drop your images here!'"
      [extensions]="['jpg','png','gif']"
      (onFileUploadFinish)="imageFinishedUploading($event)"
    ></image-upload>
    {{res}}

  </div>

  <div [hidden]="!showSelTab" class="tabcontent">
    <h4>Select Image to use</h4>
    <p>&nbsp;</p>
    <div class="row">
      <div class="col-lg-2 imageSelect" *ngFor="let image of Imagefiles">
        <img (click)="getImageName(image.fileName)" (click)="image.activex = !image.activex" src="{{image.fullPath}}">
        <div (click)="getImageName(image.fileName)" (click)="image.activex = !image.activex" [class.selected]= "image.activex  === true" class="imageFileName">{{(image.fileName.length>12) ? (image.fileName | slice:0:12)+'...' : (image.fileName)}}</div>
      </div>
    </div>
  </div>


</div>
