<div class="modalBox">
  <span class="modalCloseIcon" (click)="closeModal()" style="color: #319dea;">
      x
  </span>
  <div class="row">
    <div class="col-lg-3 uploadModal-left">
         <!--<div class="headingTab">My Files</div>-->
         <div class="tab">
            <button class="tablinks headingTab"><i class="icon-files-o icons"></i> My Files</button>
            <button class="tablinks" (click)="showUploadTab()" [className]="active" ><i class="icon-cloud-upload icons"></i> Upload Files</button>
            <button class="tablinks" (click)="showSelectTab()" [className]="active2" ><i class="icon-perm_media icons"></i> Media Library</button>
         </div>
    </div>
    <div class="col-lg-9" style="padding: 0px">
      <!--============Upload image tab=========-->
      <div [hidden]="showUpTab" class="tabcontent">
        <div class="uploadArea">
          <div  align="center">
            <img class="imageUploadIcon" src="/assets/img/uploader-icon.png" />
          </div>
          <image-upload
            [max]="5"
            [url]="uploadURL"
            [buttonCaption]="'Browse Files'"
            [headers]="[
              {header: 'Authorization', value: 'MyToken'}
            ]"
            [dropBoxMessage]="'Drag and drop your file here or'"
            [extensions]="['jpg','png','gif']"
            (onFileUploadFinish)="imageFinishedUploading($event)"
            ></image-upload>
            {{res}}
        </div>
      </div>

      <!--============Select image tab=========-->
      <div [hidden]="!showSelTab" class="tabcontent">
        <div class="row">
          <div class="col-lg-6" style="color: #319dea;">
            <div>
              <strong> {{(numOfImages==0) ? 'NO' : (numOfImages)}}</strong>
              <span> FILE{{numOfImages>1 ? 'S' : ''}}</span>
            </div>
          </div>
          <div class="col-lg-6" align="right">

          </div>
        </div>
        <p>&nbsp;</p>
        <div class="row imageSelectBox" *ngIf="numOfImages>=1; else message">
          <div class="col-lg-4 imageSelect" *ngFor="let image of Imagefiles">
            <div class="mask" (click)="getImageName(image.fileName)" (click)="image.activex = !image.activex" [class.selected]= "image.activex === true"></div>
            <img src="{{image.fullPath}}">
          </div>
        </div>
        <ng-template #message class="text-center">
          <div align="center"> <h4>No Files uploaded</h4></div>
        </ng-template>
        <!--========Preview selected images in modal start=====-->
        <div class="imagePreview">
          <div class="col-lg-8" style="padding: 0px">
            <div class="row" *ngIf="selectedImages.length==1">
              <div class="col-lg-6 thumb" *ngFor="let prev of selectedImages">
                <img class="thumbnail" src="{{apiURL}}{{uploadsFilePath}}{{prev}}" >
              </div>
              <div class="col-lg-6" *ngFor="let prev of selectedImages">
                <span  style="color: #319dea;">{{(prev.length>imageNameCount) ? (prev | slice:0:imageNameCount)+'...' : (prev)}}</span>
              </div>
            </div>
            <div class="row" *ngIf="selectedImages.length>1 && selectedImages.length<=3 ">
              <div class="col-lg-6 thumb" *ngFor="let prev of selectedImages">
                <img class="thumbnail" src="{{apiURL}}{{uploadsFilePath}}{{prev}}" >
              </div>
            </div>
            <div class="row" *ngIf="selectedImages.length>3">
              <div class="hideThumb">
                <div class="col-lg-6 thumb" *ngFor="let prev of selectedImages">
                  <img class="thumbnail" src="{{apiURL}}{{uploadsFilePath}}{{prev}}" >
                </div>
              </div>
              <div class="more">
                  <span  style="color: #319dea;">+ {{selectedImages.length - 3}} More</span>
              </div>
            </div>
          </div>
          <div class="col-lg-4" align="right" style="padding: 0px">
            <span *ngIf="numOfImages>=1" style="top: 15px;position: relative;" class="btn-filled" (click)="moveImageToForm()">
              Use Selected{{(NumSelectedImg>1) ? ' Files' : ' File'}}
            </span>
          </div>
        </div>
        <!--========Preview selected images in modal end=====-->
      </div>
    </div>
  </div>


</div>
