<div class="wrapper">
  <div class="user-dashboard">
    <div class="row">
            <!-- =======Left sticky sidebar start =========-->
            <div class="left-sticky">
                <header class="navbar-placed-top">
                    <nav class="navbar">
                        <div class="container-fluid">

                            <!-- Brand and toggle get grouped for better mobile display -->
                            <!-- =======Logo Aplus start =========-->
                            <app-logo-no-bg-navbar></app-logo-no-bg-navbar>
                            <!-- =======Logo Aplus end =========-->

                            <!-- =======Left sidebar menu start =========-->
                            <app-no-bg-menu-leftsidebar></app-no-bg-menu-leftsidebar>
                            <!-- =======Left sidebar menu end =========-->

                        </div><!-- /.container-fluid -->
                    </nav>
                </header>
            </div>
            <!-- =======Left sticky sidebar end =========-->

            <div class="dash-content">
                <!-- =======Top fixed nav bar start =========-->
                <app-navbar-no-bg-search></app-navbar-no-bg-search>
                <!-- =======Top fixed nav bar end =========-->

                <!-- =======Main page content all sections (middle & right sidebar) start =========-->
                <div class="dash-widgets">
                    <div class="row">
                        <!-- =======Main page content middle section start =========-->
                        <app-view-jobs-content></app-view-jobs-content>
                        <!-- =======Main page content middle section end =========-->

                        <!-- =======Advertisment right side bar start =========-->
                         <app-ads-right-sidebar></app-ads-right-sidebar>
                        <!-- =======Advertisment right side bar end =========-->
                    </div>
                </div>
                <!-- =======Main page content all sections (middle & right sidebar) end =========-->
            </div>

            <!-- =======Footer copyrights information start =========-->
            <app-footer></app-footer>
            <!-- =======Footer copyrights information end =========-->
        </div>
  </div>
</div>
