<div class="suggested-pros no-background" *ngFor="let service of services | slice:firstSliceVal:secondSliceVal; let i = index">
    <div class="pro-row">
        <span>
            <div class="profile" >
              <img class="img-circle" src="{{service.profthumbnail}}">
            </div>
        </span>
        <div class="user">
            <div class="ad-content-top">
              <div class="ad-name">{{service.name}}</div>
              <span class="rating">
                <span class="rating">
                  <app-rating-stars-icons [service]=service></app-rating-stars-icons>
                </span>
              </span>
              <span style="font-size: 12px;">{{service.reviews}} reviews</span>
              <span class="ad-info-icon pull-right icon-info_outline"></span>
            </div>

            <div class="ad-description">
             {{ (service.body.length>sliceCharacters) ? (service.body | slice:0:sliceCharacters)+'...' : (service.body) }}
            </div>
            <span class="read-more">Read More</span>
        </div>

    </div>
</div>
