<!-- =======Advertisment right side bar start =========-->
 <div class="col-md-4 ">
    <div class="ad-aside-bar">
        <span class="btn-filled col-lg-12" style="margin-bottom: 20px;" >Advertise Here</span>
        <div class="ad-top-pic">
            <img src="img/advert.jpg">
        </div>
        <div class="ad-titles">You might consider...</div>

        <div class="hr-top-line"></div>
        <div class="suggested-pros no-background">
            <div class="pro-row">
                <span>
                    <span class="profile" style="background-image:url(/img/avatar-11.jpg);"></span>
                </span>
                <div class="user">
                    <div class="ad-content-top">
                      <div class="ad-name">
                          Joseph Murimi
                          <span class="ad-badge">AD</span>
                      </div>
                      <span class="rating">
                          <span class="rating">
                            <i class="icon-star"></i>
                            <i class="icon-star"></i>
                            <i class="icon-star"></i>
                            <i class="icon-star-half-empty"></i>
                            <i class="icon-star-o"></i>
                          </span>
                      </span>
                      <span style="font-size: 12px;">203 reviews</span>
                      <span class="ad-info-icon pull-right icon-info_outline"></span>
                    </div>

                    <div class="ad-description">
                      sit amet, consectetur adipiscing elit. Curabitur luctus diam lorem,
                      vel condimentum risus finibus vel...
                    </div>
                    <span class="read-more">Read More</span>
                </div>

            </div>
        </div>
        <div class="suggested-pros no-background">
            <div class="pro-row">
                <span>
                    <span class="profile" style="background-image:url(/img/avatar-11.jpg);"></span>
                </span>
                <div class="user">
                    <div class="ad-content-top">
                      <div class="ad-name">
                          Joseph Murimi
                          <span class="ad-badge">AD</span>
                      </div>
                      <span class="rating">
                          <span class="rating">
                            <i class="icon-star"></i>
                            <i class="icon-star"></i>
                            <i class="icon-star"></i>
                            <i class="icon-star-half-empty"></i>
                            <i class="icon-star-o"></i>
                          </span>
                      </span>
                      <span style="font-size: 12px;">203 reviews</span>
                      <span class="ad-info-icon pull-right icon-info_outline"></span>
                    </div>

                    <div class="ad-description">
                      sit amet, consectetur adipiscing elit. Curabitur luctus diam lorem,
                      vel condimentum risus finibus vel...
                    </div>
                    <span class="read-more">Read More</span>
                </div>

            </div>
        </div>
        <div class="suggested-pros no-background">
            <div class="pro-row">
                <span>
                    <span class="profile" style="background-image:url(/img/avatar-11.jpg);"></span>
                </span>
                <div class="user">
                    <div class="ad-content-top">
                      <div class="ad-name">
                          Joseph Murimi
                          <span class="ad-badge">AD</span>
                      </div>
                      <span class="rating">
                          <span class="rating">
                            <i class="icon-star"></i>
                            <i class="icon-star"></i>
                            <i class="icon-star"></i>
                            <i class="icon-star-half-empty"></i>
                            <i class="icon-star-o"></i>
                          </span>
                      </span>
                      <span style="font-size: 12px;">203 reviews</span>
                      <span class="ad-info-icon pull-right icon-info_outline"></span>
                    </div>

                    <div class="ad-description">
                      sit amet, consectetur adipiscing elit. Curabitur luctus diam lorem,
                      vel condimentum risus finibus vel...
                    </div>
                    <span class="read-more">Read More</span>
                </div>

            </div>
        </div>

        <div class="ad-titles">Related Services...</div>

        <div class="hr-top-line"></div>
        <div class="suggested-pros no-background">
            <div class="pro-row">
                <span>
                    <span class="profile" style="background-image:url(/img/avatar-11.jpg);"></span>
                </span>
                <div class="user">
                    <div class="ad-content-top">
                      <div class="ad-name">Joseph Murimi</div>
                      <span class="rating">
                      <span class="rating">
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star"></i>
                        <i class="icon-star-half-empty"></i>
                        <i class="icon-star-o"></i>
                      </span>
                    </span><span style="font-size: 12px;">203 reviews</span>
                      <span class="ad-info-icon pull-right icon-info_outline"></span>
                    </div>

                    <div class="ad-description">
                      sit amet, consectetur adipiscing elit. Curabitur luctus diam lorem,
                      vel condimentum risus finibus vel...
                    </div>
                    <span class="read-more">Read More</span>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- =======Advertisment right side bar end =========-->
