<!-- =======Advertisment right side bar start =========-->
 <div class="col-md-4 ">
    <div class="ad-aside-bar">
        <span class="btn-filled col-lg-12" style="margin-bottom: 20px;" >Advertise Here</span>
        <div class="ad-top-pic">
            <app-large-imagead></app-large-imagead>
        </div>
        <div class="ad-titles">You might consider...</div>

        <div class="hr-top-line"></div>
        <div class="suggested-pros no-background" *ngFor="let advert of ads">
            <div class="pro-row">
                <span>
                    <div class="profile" >
                      <img class="img-circle" src="{{advert.profthumbnail}}">
                    </div>
                </span>
                <div class="user">
                    <div class="ad-content-top">
                      <div class="ad-name">
                          {{advert.name}}
                          <span class="ad-badge">AD</span>
                      </div>
                      <span class="rating">
                          <span class="rating">
                            <app-rating-stars-icons [service]=advert></app-rating-stars-icons>
                          </span>
                      </span>
                      <span style="font-size: 12px;">{{advert.reviews}} reviews</span>
                      <span class="ad-info-icon pull-right icon-info_outline"></span>
                    </div>

                    <div class="ad-description">
                      {{ (advert.body.length > sliceCharacters) ? (advert.body | slice:0:sliceCharacters)+'...' : (advert.body)}}
                    </div>
                    <span class="read-more">Read More</span>
                </div>

            </div>
        </div>

        <div class="ad-titles">Related Services...</div>

        <div class="hr-top-line"></div>
        <div class="suggested-pros no-background" *ngFor="let service of services">
            <div class="pro-row">
                <span>
                    <div class="profile" >
                      <img class="img-circle" src="{{service.profthumbnail}}">
                    </div>
                </span>
                <div class="user">
                    <div class="ad-content-top">
                      <div class="ad-name">{{service.name}}</div>
                      <span class="rating">
                        <span class="rating">
                          <app-rating-stars-icons [service]=service></app-rating-stars-icons>
                        </span>
                      </span>
                      <span style="font-size: 12px;">{{service.reviews}} reviews</span>
                      <span class="ad-info-icon pull-right icon-info_outline"></span>
                    </div>

                    <div class="ad-description">
                     {{ (service.body.length>sliceCharacters) ? (service.body | slice:0:sliceCharacters)+'...' : (service.body) }}
                    </div>
                    <span class="read-more">Read More</span>
                </div>

            </div>
        </div>

    </div>
</div>
<!-- =======Advertisment right side bar end =========-->
