.footer-link {
  cursor: pointer;
}

.footer-logo img {
   width: 50% !important;
}

.container-fluid {
  position: absolute !important;
  top: 60px;
  left: -10%;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}
footer hr {
  border-top: 1px solid #319dea;
  width: 90%;
  left: 45px;
  position: relative;
}

