<ul class="nav-user navbar-right">
  <!-- =======Search input nav bar start =========-->
  <div class="col-lg-8">
     <div class="col-lg-12">
         <div class="input-group">
        <span class="input-group-addon" id="basic-addon3">Services</span>
        <input type="text" class="form-control normal-border-radius remove-right-border" id="basic-url" placeholder="Plumber in Nairobi">
        <i class="icon-search input-group-addon"></i>
      </div>
     </div>
  </div>
  <!-- =======Search input nav bar end =========-->
  <!-- =======Profile nav bar start =========-->
  <div class="col-lg-4">
      <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span><i class="icon-notifications_active"></i></span></a>
      </li>
      <li class="dropdown">
        <a href="" class="dropdown-toggle logged_in_user" data-toggle="dropdown">
        <img src="assets/img/avatar-1.jpg" class="avatar img-circle" alt="Avatar">
         <strong>Caleb Nasio</strong>
        </a>
        <ul class="dropdown-menu square primary margin-list-rounded with-triangle"><li class="nav-item"><a class="nav-link" href="/user-profile/view?id=63574202">My Account</a></li>
          <li><a class="dropdown-item" href="/site/logout" data-method="post"><span>Sign out</span></a></li>
        </ul>
      </li>
  </div>
  <!-- =======Profile nav bar bar end =========-->
</ul>
