<!-- =======Left sidebar menu start =========-->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <span class="menu-label">Services</span>
        <ul class="collapse navbar-collapse">
            <li class="nav-item active"><a class="nav-link" href="/dashboard"><i class="icon-bubbles4"></i>Equipment</a></li>
            <li class="nav-item"><a class="nav-link" href="/user"><i class="icon-bubbles4"></i>Consumables</a></li>
            <li class="nav-item"><a class="nav-link" href="/user"><i class="icon-bubbles4"></i>Ambulance</a></li>
        </ul>
    <span class="menu-label">Jobs</span>
         <ul class="collapse navbar-collapse">
            <li class="nav-item"><a class="nav-link" href="/offers"><i class="icon-bubbles4"></i>Equipment</a></li>
            <li class="nav-item"><a class="nav-link" href="/user"><i class="icon-bubbles4"></i>Consumables</a></li>
            <li class="nav-item"><a class="nav-link" href="/user"><i class="icon-bubbles4"></i>Ambulance</a></li>
         </ul>
</div>
<!-- =======Left sidebar menu end =========-->
