<!-- =======Main page content middle section start =========-->
<div class=" col-md-8" >
    <div class="row" style="position: relative;bottom: 25px;">
        <div class="col-lg-6">
            <span class="dash-widgets-heading">Add New Service</span>
        </div>
        <div class="col-lg-6">
            <span class="btn-outline pull-right" >View Service</span>
            <span class="btn-outline pull-right" >Save as Draft</span>
        </div>
    </div>
    <!-- =======add service form section start =========-->
    <div>
        <form>
            <div class="row">
                <div class="col-lg-6">
                    <div class="group">
                      <span class="input-title">Service Title</span>
                      <input type="text" required>
                      <span class="highlight"></span>
                      <span class="bar"></span>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="group">
                      <span class="input-title">3 Service Category</span>
                      <tag-input [(ngModel)]='items' [maxItems]='3' [secondaryPlaceholder]='placeHolder' [separatorKeys]="[188]" theme='bootstrap' name="items" ></tag-input>
                      <span class="highlight"></span>
                      <span class="bar"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <span class="input-title">Is this an Offer?</span>
                    <div style="top: 30px; position: relative;">
                        <input type="checkbox" id="checked" class="cbx hidden"/>
                        <label for="checked" class="lbl"></label>
                    </div>
                    <span class="switch-desc">
                        Enable this option to convert this<br>
                        service into an offer
                    </span>
                </div>

                <div class="col-lg-8">
                    <div class="group">
                      <span class="input-title">Service Pricing</span>
                      <input type="text" required>
                      <span class="highlight"></span>
                      <span class="bar"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <span class="input-title">Set Feature Image</span>
                    <div class="upload-btn-wrapper">
                      <button class="btn" (click)="openUploadModal(feature)">
                        <i class="icon-plus" style="padding-top: 20px"></i>
                      </button>
                    </div>
                </div>

                <div class="col-lg-8">
                    <div class="group">
                      <span class="input-title">Describe service</span>
                      <textarea rows="3" required></textarea>
                      <span class="highlight"></span>
                      <span class="bar"></span>
                    </div>
                </div>
            </div>
            <div class="selectedFetImage" *ngIf="selectedImages.length>=1" >
              <div class="okGreen" *ngIf="showFeatureThumb">
                 <img class="thumbnail" src="{{apiURL}}{{uploadsPath}}{{featureImg}}" width="60px" height="60px">
              </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="group">
                      <span class="input-title">5 Related Service Categories</span>
                      <tag-input [(ngModel)]='relatedCat' [maxItems]='5' [secondaryPlaceholder]='placeHolder2' [separatorKeys]="[188]" theme='bootstrap' name="relatedCat" ></tag-input>
                      <span class="highlight"></span>
                      <span class="bar"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <span class="input-title">Add up to 5 additional images related to the service</span><br>
                    <div class="upload-btn-wrapper">
                      <button class="btn" (click)="openUploadModal(servImg)">
                        <i class="icon-plus" style="padding-top: 20px"></i>
                      </button>
                    </div>
                </div>
            </div>
            <div class="selectedImages" *ngIf="selectedImages.length>=1" >
              <span class="okGreen" *ngFor="let image of servImgs">
                <img class="thumbnail" src="{{apiURL}}{{uploadsPath}}{{image}}" width="60px" height="60px">
              </span>
            </div>
            <!--==========Upload image modal==========-->
            <div [hidden]="!openModal">
              <app-upload-modal (modalValue)="closeUploadModal($event)" (imagesToForm)="getImagesFromModal($event)" (inputRequest)="inputRequesting($event)"></app-upload-modal>
            </div>
            <!--==========Upload image modal==========-->
            <hr class="hr-dark">
            <div class="row">
                <div class="col-lg-6">
                   <span class="btn-outline pull-left" >Save as Draft</span>
                </div>
                <div class="col-lg-6">
                    <span class="btn-filled pull-right"  >Publish</span>
                </div>
            </div>
        </form>
    </div>
    <!-- =======add service from section end =========-->
</div>
<!-- =======Main page content middle section end =========-->
