.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  text-align: center;
  background-color: #fff;
  height: 90px;
  width: 150px;
  border-radius: 5px;
  margin: 10px 0px 0px 0px;
  cursor: pointer;
  font-size: 35px;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
