<!-- =======Main page content middle section start =========-->
<div class="col-md-8 ">
    <div class="row" style="position: relative;bottom: 25px;">
        <div class="col-lg-6">
            <span class="dash-widgets-heading">Job Requests</span>
        </div>
        <div class="col-lg-6">
            <span class="btn-outline pull-right" >Filter By</span>
        </div>
    </div>

     <!------Shadow cards holding job requests------- -->
    <div class="suggested-pros bx-shadow" *ngFor="let job of jobReqs | paginate: { id: 'jobReq_id', itemsPerPage: itemsOnPage, currentPage: pageNum }">
        <div class="pro-row">
            <span>
                <span class="profile" style="background-image:url({{job.profthumbnail}});"></span>
            </span>
            <div class="job-heading">{{job.title}}</div>
            <div class="user">{{job.name}} - <span style="font-weight: 300">{{job.location}}</span></div>

            <div class="job-desc">
              <span [hidden]="!readMore">{{(job.reqst.length > sliceCharacters) ? (job.reqst | slice:0:sliceCharacters)+'...':(job.reqst | slice:0:273) }}</span>
              <span [hidden]="readMore">{{job.reqst}}</span>
              <span class="read-more" *ngIf="job.reqst.length >sliceCharacters" (click)="showMore()"> [{{viewMoreTxt}}]</span>
            </div><hr>
            <div class="job-request-footer">
                <div class="col-lg-7">
                    <div class="col-lg-3">
                        <span *ngFor="let review of job.reviews; let i=index">
                          <span *ngIf="i<3" class="profile small-profile" style="background-image:url(assets/img/{{review.thumbnailUrl}});"></span>
                        </span>
                    </div>
                    <div class="col-lg-9 job-request-comments">
                        <span style="font-weight: 500;font-size: 12px;">
                        Worked with (<strong>{{jobReqs.length}}</strong>) other people.<br>
                        <span class="read-more">See reviews</span>
                    </span>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="col-lg-6 btn btn-default btn-sm btn-mod normal-border-radius">Accept</div>
                    <div class="col-lg-6 btn btn-default btn-sm btn-mod normal-border-radius">Decline</div>
                </div>
            </div>
        </div>
    </div>
    <div align="center">
      <pagination-controls
                        id="jobReq_id"
                        (pageChange)="pageChanged($event)"
                        maxSize="9"
                        directionLinks="false"
                        autoHide="true"
                        previousLabel=""
                        nextLabel=""
                        screenReaderPaginationLabel="Pagination"
                        screenReaderPageLabel="page"
                        screenReaderCurrentLabel="You're on page">
      </pagination-controls>
    </div>

</div>
<!-- =======Main page content middle section end =========-->
