<!-- =======Main page content middle section start =========-->
<div class="col-md-8 ">
    <div class="row" style="position: relative;bottom: 25px;">
        <div class="col-lg-6">
            <span class="dash-widgets-heading">Job Requests</span>
        </div>
        <div class="col-lg-6">
            <span class="btn-outline pull-right" >Filter By</span>
        </div>
    </div>

    <div class="suggested-pros bx-shadow">
        <div class="pro-row">
            <span>
                <span class="profile" style="background-image:url(/img/avatar-6.jpg);"></span>
            </span>
            <div class="job-heading">I need something done did</div>
            <div class="user">Joseph Murimi - <span style="font-weight: 300">Nairobi ke</span></div>

            <div class="job-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Curabitur luctus diam lorem, vel condimentum risus finibus vel. Aliquam dignissim finibus purus sed porta.
                A semper nibh eleifend id. Maecenas vel lectus tortor.
                Pellentesque sed ullamcorper nisi, non consequat justo... <span class="read-more">[View More]</span>
            </div><hr>
            <div class="job-request-footer">
                <div class="col-lg-7">
                    <div class="col-lg-3">
                        <span>
                        <span class="profile small-profile" style="background-image:url(/img/avatar-7.jpg);"></span>
                        <span class="profile small-profile" style="background-image:url(/img/avatar-8.jpg);"></span>
                        <span class="profile small-profile" style="background-image:url(/img/avatar-9.jpg);"></span>
                    </span>
                    </div>
                    <div class="col-lg-9 job-request-comments">
                        <span style="font-weight: 500;font-size: 12px;">
                        Worked with (<strong>10</strong>) other people.<br>
                        <span class="read-more">See reviews</span>
                    </span>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="col-lg-6 btn btn-default btn-sm btn-mod normal-border-radius">Accept</div>
                    <div class="col-lg-6 btn btn-default btn-sm btn-mod normal-border-radius">Decline</div>
                </div>
            </div>
        </div>
    </div>
    <div class="suggested-pros bx-shadow">
        <div class="pro-row">
            <span>
                <span class="profile" style="background-image:url(/img/avatar-6.jpg);"></span>
            </span>
            <div class="job-heading">I need something done did</div>
            <div class="user">Joseph Murimi - <span style="font-weight: 300">Nairobi ke</span></div>

            <div class="job-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Curabitur luctus diam lorem, vel condimentum risus finibus vel. Aliquam dignissim finibus purus sed porta.
                A semper nibh eleifend id. Maecenas vel lectus tortor.
                Pellentesque sed ullamcorper nisi, non consequat justo... <span class="read-more">[View More]</span>
            </div><hr>
            <div class="job-request-footer">
                <div class="col-lg-7">
                    <div class="col-lg-3">
                        <span>
                        <span class="profile small-profile" style="background-image:url(/img/avatar-7.jpg);"></span>
                        <span class="profile small-profile" style="background-image:url(/img/avatar-8.jpg);"></span>
                        <span class="profile small-profile" style="background-image:url(/img/avatar-9.jpg);"></span>
                    </span>
                    </div>
                    <div class="col-lg-9 job-request-comments">
                        <span style="font-weight: 500;font-size: 12px;">
                        Worked with (<strong>10</strong>) other people.<br>
                        <span class="read-more">See reviews</span>
                    </span>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="col-lg-6 btn btn-default btn-sm btn-mod normal-border-radius">Accept</div>
                    <div class="col-lg-6 btn btn-default btn-sm btn-mod normal-border-radius">Decline</div>
                </div>
            </div>
        </div>
    </div>
    <div class="suggested-pros bx-shadow">
        <div class="pro-row">
            <span>
                <span class="profile" style="background-image:url(/img/avatar-6.jpg);"></span>
            </span>
            <div class="job-heading">I need something done did</div>
            <div class="user">Joseph Murimi - <span style="font-weight: 300">Nairobi ke</span></div>

            <div class="job-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Curabitur luctus diam lorem, vel condimentum risus finibus vel. Aliquam dignissim finibus purus sed porta.
                A semper nibh eleifend id. Maecenas vel lectus tortor.
                Pellentesque sed ullamcorper nisi, non consequat justo... <span class="read-more">[View More]</span>
            </div><hr>
            <div class="job-request-footer">
                <div class="col-lg-7">
                    <div class="col-lg-3">
                        <span>
                        <span class="profile small-profile" style="background-image:url(/img/avatar-7.jpg);"></span>
                        <span class="profile small-profile" style="background-image:url(/img/avatar-8.jpg);"></span>
                        <span class="profile small-profile" style="background-image:url(/img/avatar-9.jpg);"></span>
                    </span>
                    </div>
                    <div class="col-lg-9 job-request-comments">
                        <span style="font-weight: 500;font-size: 12px;">
                        Worked with (<strong>10</strong>) other people.<br>
                        <span class="read-more">See reviews</span>
                    </span>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="col-lg-6 btn btn-default btn-sm btn-mod normal-border-radius">Accept</div>
                    <div class="col-lg-6 btn btn-default btn-sm btn-mod normal-border-radius">Decline</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- =======Main page content middle section end =========-->
