<div class="wrapper">
     <section class="user-dashboard">
        <div *ngFor="let com of records">
            <!-- =======Top fixed nav bar start =========-->
            <app-navbar-with-bg></app-navbar-with-bg>
            <!-- =======Top fixed nav bar end =========-->

            <!-- =======Main page content all sections (upper & lower section) start =========-->
            <!-- =======Upper section start =========-->
            <div class="row ">
                <div class="upper-info">
                    <!-- =======left section =========-->
                    <div class="prof-profile-pic col-lg-4">
                        <img src="{{com.profpic}}"/>
                    </div>
                    <!-- =======mid section =========-->
                    <div class="col-lg-4 prof-personal-info">
                        <div class="prof-name">{{com.name}}</div>
                        <div class="prof-location">{{com.location}}</div>
                        <div class="prof-stats">{{com.friends}} - Friends, {{com.reviews.length}} - Reviews</div>
                        <div class="prof-bio">
                            {{ (com.bio.length>sliceBioWords) ? (com.bio | slice:0:sliceBioWords)+'...' : (com.bio) }}
                        </div>
                    </div>
                    <!-- =======right section =========-->
                    <div class="prof-interact-sec col-lg-4">
                        <div class="prof-interact-icons"><i class="icon-group_add prof-icon-mid-size"></i> + Add Friend</div>
                        <div class="prof-interact-icons"><i class="icon-thumbs-o-up prof-icon-mid-size"></i> Compliment</div>
                        <div class="prof-interact-icons"><i class="icon-send-o prof-icon-mid-size"></i> Message</div>
                        <div class="prof-interact-icons"><i class="icon-share3 prof-icon-mid-size"></i> Follow</div>
                    </div>
                </div>
            </div>
            <!-- =======Upper section end =========-->
            <!-- =======Lower section start =========-->
            <div class="row ">
                <div class="lower-info">
                    <!-- =======left section =========-->
                    <div class="" style="float: left">
                        <div class="prof-left-column">
                            <div class="prof-column-heading">
                                {{com.first_name}}'s Profile
                            </div>
                            <hr class="prop-column-heading-ul col-lg-7">
                            <div class="prof-left-column-content col-lg-8">
                                <div class="prof-left-column-menu">Profile Overview</div>
                                <div class="prof-left-column-menu">Friends</div>
                                <div class="prof-left-column-menu">Reviews</div>
                                <div class="prof-left-column-menu">Bookmarks</div>
                                <div class="prof-left-column-menu">Compliments</div>
                            </div>
                        </div>
                    </div>
                    <!-- =======mid section =========-->
                    <div class="" style=" float: left; border-right: solid 1px #F3EFEC;">
                        <div class="prof-mid-column">
                            <div class="row prof-mid-column-header">
                                <div class="col-lg-6">
                                    <div class="prof-column-heading">
                                        Reviews
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <span class="btn-filled pull-right" >Sort by</span>
                                </div>
                            </div>
                            <hr class="prop-column-heading-ul col-lg-10" style="margin-left: 35px">
                            <div class="prof-mid-column-content">
                                <div class="prof-review" *ngFor="let rev of com.reviews">
                                    <div class="user">
                                        <div class="row prof-rev-content-top">
                                          <div class="col-lg-3" style="padding: 0px; width: 95px">
                                            <img class="img-circle large-prof-pic" src="{{rev.thumbnailUrl}}">
                                          </div>
                                          <div class="col-lg-9" style="padding: 0px;">
                                              <div class="ad-name large-name">
                                                  {{rev.name}}
                                              </div>
                                              <div style="color: #1c9aea">
                                                  {{rev.title}}
                                              </div>
                                              <div style="font-size: 12px;">Naivasha, Jun 30, 17</div>
                                              <span class="rating">
                                                  <app-rating-stars-icons [service]=rev></app-rating-stars-icons>
                                              </span>
                                          </div>
                                        </div>
                                        <div class="row prof-review-desc">
                                          {{rev.body}}
                                        </div>
                                        <div class="prof-prev-pic" *ngIf="rev.reviewpics.length>0">
                                               <!--<div  class="pic-scroll-prev" (click)="prevPicture()" *ngIf="rev.reviewpics.length>3">-->
                                                 <!--<i class="icon-navigate_before navigate-icon-pos"></i>-->
                                               <!--</div>-->
                                               <div class="prof-prev-pic-frame">
                                                  <owl-carousel #owlElement
                                                 [options]="{items: 2, dots: true, navigation: false}"
                                                 [items]="rev.reviewpics"
                                                 [carouselClasses]="['owl-theme', 'row', 'sliding']">
                                                   <div class="col-lg-4 prof-prev-pic-box" *ngFor="let pic of rev.reviewpics; let i = index ">
                                                     <img src="{{pic.image}}">
                                                   </div>
                                                  </owl-carousel>
                                               </div>
                                               <!--<div class="pic-scroll-next" (click)="nextPicture()" *ngIf="rev.reviewpics.length>3">-->
                                                 <!--<i class="icon-navigate_next navigate-icon-pos"></i>-->
                                               <!--</div>-->
                                               <div class="clear-both"></div>
                                            </div>
                                    </div>
                                  <div class="row tiny-margin">
                                      <div class="col-lg-6"></div>
                                      <div class="col-lg-6">
                                          <div class="prof-interact-icons pull-right" style="color: #1c9aea"><i class="icon-share3 prof-icon-mid-size"></i> SHARE</div>
                                      </div>
                                  </div>
                                  <!--<hr class="prop-column-heading-ul col-lg-10" style="margin-left: 35px">-->
                                </div>
                            </div>


                        </div>
                    </div>
                    <!-- =======right section =========-->
                    <div class="" style="float: left">
                        <div class="prof-right-column">
                            <div class="prof-column-heading">
                                About {{com.first_name}}
                            </div>
                            <hr class="prop-column-heading-ul col-lg-10">
                            <div class="prof-right-column-content">
                                <div class="prof-about-content">
                                    {{(com.about.length>sliceAboutWords) ? (com.about | slice:0:sliceAboutWords)+'...' : (com.about)}}
                                </div>
                                <div class="pro-about-info">
                                    <div class="heading">Location</div>
                                    <div>{{com.location}}</div>

                                    <div class="heading">Member Since</div>
                                    <div>{{com.joined}}</div>

                                    <div *ngIf="com.website.length>0" >
                                          <div class="heading">Website</div>
                                          <div>{{com.website}}</div>
                                        </div>

                                    <div class="ad-titles">You might consider...</div>

                                    <app-lowerright-sidebar-ads></app-lowerright-sidebar-ads>

                                </div>
                            </div>
                        </div>
                    </div>
                    <br style="clear: left;" />
                </div>
            </div>
            <!-- =======Lower section end =========-->
            <!-- =======Main page content all sections (upper & lower section) start =========-->

            <!-- =======Footer copyrights information start =========-->
            <app-footer></app-footer>
            <!-- =======Footer copyrights information end =========-->
        </div>
    </section>
 </div>
