.upper-info {
    width: 100%;
    position: absolute;
    top: 87px;
    height: 263px;
    padding-top: 3px;
    padding-left: 60px;
    padding-right: 60px;
    background: url("../../../assets/img/pattern.jpg") repeat !important;
}

.lower-info {
    position: absolute;
    width: 100%;
    background-color: #fff;
    top: 350px;
    height: auto;
    padding-left: 60px;
    padding-right: 10px;
    padding-bottom: 100px;
}

.prof-interact-sec {
    width: 296px;
    height: 213px;
    float: right;
    background-color: #ffffff;
}

.prof-profile-pic.col-lg-4 img {
    height: 213px;
    float: left;
}

.prof-name {
    font-size: 45px;
    font-weight: 300;
    line-height: 1;
}

.prof-location {
    font-weight: 600;
    font-size: 20px;
}

.prof-personal-info {
    color: #1c9aea;
    overflow: hidden;
    background: url("../../../assets/img/blockquote_flipped.png") no-repeat right bottom;
    background-size: 60px 50px;
}

.prof-stats {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 19px;
}

.prof-bio {
    font-size: 19px;
    color: #777777;
}

.prof-interact-sec {
    color: #1c9aea;
    font-size: 19px;
    padding-top: 5px;
    padding-left: 50px;
    line-height: 2;
}

.prof-icon-mid-size {
    font-size: 22px;
    position: relative;
    top: 5px;
    margin-right: 10px;
}

.prof-interact-icons {
    cursor: pointer;
    margin: 10px;
}

.prof-left-column {
    padding-top: 50px;
    width: 336px;
    border-right: solid 1px #F3EFEC;
    min-height: 500px;
}

.prof-mid-column {
    padding-top: 50px;
    width: 570px;
    min-height: 300px;
    padding-right: 20px;
}

.prof-mid-column-header {
    margin-left: 35px;
}

.prof-right-column {
    padding-top: 50px;
    position: relative;
    left: 20px;
    width: 250px;
}

.prof-column-heading {
    color: #1c9aea;
    font-size: 27px;
    font-weight: 500;
}

.prop-column-heading-ul {
    margin-top: 10px;
}

.prof-left-column-menu {
    color: #1c9aea;
    font-size: 23px;
    font-weight: 400;
    margin-bottom: 30px;
    cursor: pointer;
}

.large-prof-pic {
    width: 92px !important;
    height: 92px !important;
}

.large-name {
    font-size: 25px !important;
}

.prof-rev-content-top {
    position: relative;
}

.suggested-pros .pro-row{
    padding: 20px 20px 0px 20px;
    position: relative;
    margin-bottom: 10px;
}

.rating {
   color: #FFA800 !important;
}

.prof-review-desc {
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 30px;
}

.prof-prev-pic {
     margin-bottom: 20px;
}

.user {
    margin-left: 35px;
}

.prof-prev-pic img {
    width: 96%;
}

.prof-about-content {
    overflow: hidden;
    width: 240px;
    height: 180px;
}

.pro-about-info .heading {
    color: #1c9aea !important;
    font-size: 20px;
    margin-top: 30px;
}
